<h1>Convert <%= @foreign %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
<% @curr_collection.each do |ele| %>
  <li><a href="/forex/<%= @foreign %>/<%= ele %>">Convert 1 <%= @foreign %> to <%= ele %>...<a/></li>
<% end %>

</ul>

